/* common */

*{
    margin: 0px;
    padding: 0px;
}
/* end of common */


/* section nav */

.nav{
    display: flex;
    background: linear-gradient(black 0%, white 100%);
    background-color: black;
    position: fixed;
    width:100%;
}
.nav-logo__img{
    max-width: 50px;
    max-height: 50px;
    margin: 0px;
    padding: 10px;
}
.nav-time{
    display: flex;
    align-items: center;
    justify-items: flex-end;
    font-size: 30px;
    list-style: none;
}
.nav-link{
   display:flex;
   align-items: center;
}
.nav-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    font-size: 20px;
    padding: 20px;
}
.nav-item:hover {
    background-color: rgb(207, 205, 205);
    background: linear-gradient(black 0%, white 100%);
    cursor: pointer;
}
.nav-link__sec{
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 756px) {
    .nav {
        display:flex;
        flex-direction: column;
        width: 100%;
        position:  absolute;
    }
    .nav-logo {
        display: flex;
        justify-content: center;
    }
    .nav-link{
        flex-direction: column;
        justify-content: center;
    }
}

/* end of section nav */


/* section hero */

.section-hero{
    background-image: url('/img/img.jpg');
    background-size: cover;
    background-position-y: center;
    display: flex;
    height: 600px;
    flex-direction: column;
    align-content: flex-start;
    padding-top:100px;
    padding-bottom: 100px;
}
.section-hero h1{
    color: white;
    padding: 20px;
    margin-top: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
}
.section-hero h2{
    color: white;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
@media only screen and (max-width: 756px){
    .section-hero{
        padding-top:600px;
        height: 400px;
    }
    .section-hero h1{
        margin-top:100px;
        font-size: 60px;
    }
    .section-hero h2{
        padding-left: 30px;
        font-size: 20px;
    }
}

/* end of section hero */


/* section forme */

.section-forme{
    display: flex;
    padding: 30px;
    background-color: gainsboro;
    background:  linear-gradient(black 10%, gainsboro 100%);
}
.test{
    display:flex;
    margin:0px auto;
    max-width:1500px;
}
.section-forme__foto{
    padding: 20px;
    width: 300px;
}
.section-forme h2{
    padding :20px;
    text-align: justify;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.section-forme__item{
    justify-content: flex-start;
}
@media only screen and (max-width: 756px){
    .test{
        margin: 0 auto;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-forme__foto{
        max-width: 200px;
    }
}

/* end of section forme */


/* section technologies */

.section-technologies{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    background-position-y: center;
    padding: 100px;
}
.section-technologies__img{
    flex-direction: column;
    width: 25vh;
    height: 20vh;

}
@media only screen and (max-width: 1000px) {
    .section-technologies{
        display:flex;
        flex-direction: column;
    }
    .section-technologies__img{
        width: 100%;
        height: 100%;
    }
}

/* end of section technologies */

/* section links */

.section-links{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to top, black 10%,gainsboro 100%);
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section-links h2{
    text-align: center;
    padding: 30px;
}
.section-links__ul{
    display: flex;
    align-items: center;
}
.section-links__ul-item{
    display: flex;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section-links__ul-item:hover {
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}
.section-links__ul-item-link{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
@media only screen and (max-width: 756px) {
    .section-links {
        display: flex;
    }
    .section-links__ul{
        flex-direction: column;
    }
    .section-links h2{
        flex-direction: column;
        /* padding: 80px; */
    }
}

/* end of section links */


/* section footer */

.section-footer{
    padding: 20px;
    background-color: black;
    display: flex;
}
.section-footer h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  12px;
    width: 80%;

}
.footer-time{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
/* end of section footer*/
