/* common */

*{
    margin: 0px;
    padding: 0px;
}

/* end of common */


/* section nav */

.nav{
    display: flex;
    background-image:url('img/img.png');
    background-position-y: bottom;
    position: fixed;
    width:100%;
}
.nav__logo__img{
    max-width: 50px;
    max-height: 50px;
    margin: 0px;
    padding: 10px;
}
.nav__link{
    display: flex;
    align-items: center;

}
.nav__item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.nav__item:hover {
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}
.nav__link__sec{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 756px) {
    .nav {
        display:flex;
        flex-direction: column;
        width: 100%;
        position:  absolute;
    }
    .nav__logo {
        display: flex;
        justify-content: center;
    }
    .nav__link{
        flex-direction: column;
    }
    
}

/* end of section nav */


/* section hero */

.section__hero{
    background-image: url('img/imghero.jpg');
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    padding-top:100px;
    padding-bottom: 100px;
}
.section__hero h1{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 60px;
}
.section__hero h2{
    padding-left: 30px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
@media only screen and (max-width: 756px){
    .section__hero{
        padding-top:300px;
    }
}

/* end of section hero */


/* section forme */

.section__forme{
    display: flex;
    padding: 30px;
    background-image: url('img/img2.png');
    background-size: 400%;
}
.section__forme__foto{
    padding: 20px;
    width: 300px;
    flex-grow: 5;
}
.section__forme h2{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.section__forme__item{
    justify-content: flex-start;
}
@media only screen and (max-width: 756px){
    .section__forme{
        display:flex;
        flex-direction: column-reverse;
        padding: 5px;
        background-size: 600%;
    }
    .section__forme__foto{
        padding: 10px;
        width: 100%;
        height: 100%;
    }
}

/* end of section forme */


/* section technologies */

.section__technologies{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    background-position-y: center;

    padding: 40px;
}
.section__technologies__img{
    flex-direction: column;
    width: 320px;
    height: 240px;
}
@media only screen and (max-width: 756px) {
    .section__technologies{
        display:flex;
        flex-direction: column;
    }
    .section__technologies__img{
        width: 100%;
        height: 100%;
    }
}

/* end of section technologies */

/* section links */

.section__links{
    display:flex;
    flex-direction: column;
    background-image: url('img/img.png');
    background-position-y: bottom;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section__links h2{
    text-align: center;
    padding: 30px;
}
.section__links__ul{
    display: flex;
    align-items: center;
}
.section__links__ul__item{
    display: flex;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section__links__ul__item:hover {
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}
.section__links__ul__item__link{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
@media only screen and (max-width: 756px) {
    .section__links {
        display: flex;
    }
    .section__links__ul{
        flex-direction: column;
    }
    .section__links h2{
        padding: 20px;
    }
}

/* end of section links */


/* section footer */

.section__footer{
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section__footer h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  12px;

}

/* end of section footer*/
